*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f2f4f7;
    margin: 0;
    padding: 2px;
}

.container{
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1,h2{
    text-align: center;
}

textarea{
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 15px;
}

button{
    padding: 10px 18px;
    margin-top: 15px;
    border: none;
    background: #4f46e5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #4338ca;
}

.hidden{
    display: none;
}

#options{
    margin-top: 20px;
}

.option{
    margin-bottom: 10px;
}

.nav-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.correct{
    color: green;
}

.wrong{
    color: red;
}