*
{
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

body
{
    background: #b1d3f5;
    padding: 40px;
}

.container
{
    max-width: 75opx;
    margin: auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1
{
    text-align: center;
    margin-bottom: 20px;
}

.add-btn,
.controls
{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.add-btn input,
.controls input
{
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button
{
    padding: 10px,18px;
    font-size: 16px;
    cursor: pointer;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
}

button:hover
{
    background:#0056b3;
}

table
{
    width: 100%;
    border-collapse: collapse;
}

thead
{
    background: #007bff;
    color: white;
}

th,td
{
    padding: 12px;
    text-align: left;
}

tr:nth-child(even)
{
    background: #f2f2f2;
}

tr:hover
{
    background: #d9e1ed;
}

.no-data
{
    text-align: center;
    padding: 15px;
    color: #777;
}